In [2]:
import sqlite3

##### Registrar la información

In [ ]:
def registrar(numResvacion, nombre, nacionalidad, edad, horario, teleferico, asiento, fecha):
    conn = sqlite3.connect("elParaiso.db")
    cursor = conn.cursor()
    query = f"INSERT INTO reservas VALUES (NULL,{numResvacion},'{nombre}',{nacionalidad},{edad},{horario},{teleferico},{asiento},'{fecha}')"
    cursor.execute(query)
    conn.commit()
    conn.close()
registrar(4,"Juan",1,29,1,1,1,"10/07/2022")

##### Consultar la información

In [3]:
def consultar(query):#el parmetro query almacenara la consulta sql
    conn = sqlite3.connect("elParaiso.db") # conecta con la base de datos
    cursor = conn.cursor() # el cursor "selecionara" los registros que le indiqueca la consulta
    cursor.execute(query) # ejecuta lo que le pasa el parametro query (la consulta)
    datos = cursor.fetchall() # fetchall extrapasa la infomacion a la variable datos
    conn.close() # cierra la coneccion con la base de datos
    return datos
consultar(f"SELECT DISTINCT num_reservacion FROM reservas ORDER BY num_reservacion")

[(3,), (4,), (5,)]

In [ ]:
def datos_factura(r):
    c=f"SELECT nombre, edad, nacionalidad, num_reservacion FROM reservas WHERE num_reservacion={r}"
    return consultar(c)
datos_factura(4)

In [ ]:
def espacios_disponibles(numero_de_horario):
    q = f"SELECT COUNT(asiento) FROM reservas WHERE horario = {numero_de_horario}"
    #q cuenta los asientos de un horario dado
    t = 18 #numero total de espacios por horario 6 pasajeros 3 telefericos 18
    o = consultar(q)[0][0] #asientos ocupados
    return t-o #total menos ocupados da los disponibles
espacios_disponibles(1)

#   [1] 8:00 am
#   [2] 10:00 am
#   [3] 12:00 md
#   [4] 2:00 pm

In [8]:
consultar(f"SELECT COUNT(asiento), horario FROM reservas GROUP BY horario ORDER BY COUNT(asiento)")

[(2, 2), (5, 1)]

In [9]:
consultar(f"SELECT COUNT(asiento), horario FROM reservas GROUP BY horario WHERE horario IN ( 1, 2, 3, 4, 5) ORDER BY COUNT(asiento)")

OperationalError: near "WHERE": syntax error